
<ion-header >

  <ion-navbar class="profileheader"  hideBackButton="true" >
    <ion-row >
      <ion-col col-1 >
        <img [navPush]="favourites" class="headertitle" src="assets/icon/like.png">
      </ion-col>
       <ion-col col-1>
      </ion-col>
      <ion-col col-8>
        <ion-segment [(ngModel)]="own_rent"  class="segment_info" >
          <ion-segment-button (click)="showdelete()" class="itemtitle" value="own" >
            I Own
          </ion-segment-button>
          <ion-segment-button (click)="showdelete()" class="itemtitle" value="rent" >
            I Rent
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col col-1>
      </ion-col>
       <ion-col col-1>
        <ion-icon *ngIf="showdeleteicon"  class="headertitle" name="ios-trash-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="app-content" [ngSwitch]="own_rent">

  <ion-card *ngSwitchCase="'own'" >
    <ion-row class="postitemdiv">
      <ion-col col-4>
      </ion-col>
      <ion-col col-4 no-padding>
        <ion-segment [(ngModel)]="isavailable" color="secondary" class="segment_info1">
          <ion-segment-button (click)="showdelete()" value="available" style="height: 5rem;">
            <ion-icon name="ios-checkmark-circle-outline" class=""><p class="titlefont">Available</p></ion-icon>
          </ion-segment-button>
          <ion-segment-button (click)="showdelete()" value="rented" style="height: 5rem;">
            <ion-icon name="ios-close-circle-outline" ><p class="titlefont">Rented</p></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col col-4>
      </ion-col>
    </ion-row>
    <ion-card-content [ngSwitch]="isavailable" style="color: white;">
      <div  *ngSwitchCase="'available'" style="color: white;" >
        <ion-card class="grid-list backcolor" *ngFor="let item of own_avaiablelist " >
          <div class="image-item" no-lines>
            <img [navPush]="details" class="wardrobe" src="{{item.img}}" />
            <img src="assets/icon/eye-white.png" class="cover_1"><p class="info">{{item.favourity}}</p>
            <img  class="cover_4" (click)="ownshowheart(item.id)" src="assets/icon/like.png">
            <p class="info_1">{{item.view}}</p>
          </div>
        </ion-card>
      </div>

      <div  *ngSwitchCase="'rented'">
        <ion-card class="grid-list backcolor" *ngFor="let item of own_rentedlist">
          <div class="image-item" [navPush]="details" no-lines>
            <img class="wardrobe" src="{{item.img}}" />
            <img class="cover_img" src="{{item.profileimage}}">
            <div class="cover_2">
              <img class="carheight" src="assets/icon/sports-car.png">
            </div>
            <div class="cover_3">
              {{item.rentday}}
              <p class="info2">days</p>
            </div>
          </div>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngSwitchCase="'rent'">
    <ion-row class="postitemdiv">
      <ion-col col-4>
      </ion-col>
      <ion-col col-4 no-padding>
        <ion-segment [(ngModel)]="date" color="secondary" class="segment_info1">
          <ion-segment-button (click)="showdelete()" value="current" style="height: 5rem;">
            <ion-icon name="ios-checkmark-circle-outline" class=""><p class="titlefont">Current</p></ion-icon>
          </ion-segment-button>
          <ion-segment-button (click)="showdelete()" value="history" style="height: 5rem;">
            <ion-icon name="ios-close-circle-outline" ><p class="titlefont">History</p></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col col-4>
      </ion-col>
    </ion-row>
    <ion-card-content [ngSwitch]="date">
      <div  *ngSwitchCase="'history'">
       <ion-card class="grid-list backcolor" *ngFor="let item of rent_historylist" >
          <div class="image-item" no-lines>
            <img [navPush]="details" class="wardrobe" src="{{item.img}}" />
            <img class="cover_img" src="{{item.profileimage}}">
            <!--             <img src="assets/icon/eye-white.png" class="cover_1"><p class="info_1">{{item.view}}</p>
            <img *ngIf="!rent_like[item.id]" class="cover_4" (click)="rentshowheart(item.id)" src="assets/icon/like.png">
            <p class="info">{{item.favourity}}</p> -->
          </div>
        </ion-card>
      </div>

      <div  *ngSwitchCase="'current'">
         <ion-card class="grid-list backcolor" *ngFor="let item of rent_historylist">
          <div class="image-item" [navPush]="details" no-lines>
            <img class="wardrobe" src="{{item.img}}" />
            <img class="cover_img" src="{{item.profileimage}}">
            <div class="cover_2">
              <img class="carheight" src="assets/icon/sports-car.png">
            </div>
            <div class="cover_3">
              {{item.rentday}}
              <p class="info2">days</p>
            </div>
          </div>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>