<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>426267066285-23mrsjftmpppgi9me9neh0mo1e93rdop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426267066285-23mrsjftmpppgi9me9neh0mo1e93rdop</string>
	<key>API_KEY</key>
	<string>AIzaSyBHB9_b3x5aHRmgce5EQufNo0XbG51Km-o</string>
	<key>GCM_SENDER_ID</key>
	<string>426267066285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patrick.rental</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-40554</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-40554.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426267066285:ios:5104b281ba68abaa</string>
	<key>DATABASE_URL</key>
	<string>https://fir-auth-40554.firebaseio.com</string>
</dict>
</plist>